<!-- Basic Page Needs
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta charset="utf-8" />
<title>
  <%- title %>
</title>
<meta name="description" content="Startr project" />

<!-- IE
__________________________________________________ -->
<meta http-equiv="x-ua-compatible" content="ie=edge" />

<!-- Mobile Specific Metas
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta
  name="viewport"
  content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no, user-scalable=no"
/>

<!-- Social Metas
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<!-- Twitter Card data -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="startr" />
<meta
  name="twitter:description"
  content="Giving the world the superpower of running effective meetings."
/>
<meta name="twitter:creator" content="@zackhargett" />
<meta name="twitter:image" content="d1eixz0sogkcse.cloudfront.net/images/sm_logo.png" />

<!-- Open Graph data -->
<meta property="og:title" content="startr" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.startr.com" />
<meta property="og:image" content="https://d1eixz0sogkcse.cloudfront.net/images/sm_logo.png" />
<meta property="og:description" content="Startr project" />

<!-- FONT
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link
  href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap"
  rel="stylesheet"
/>

<%- include('./_styles.ejs', { css: css, env: env })%>

<!-- Favicon
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="icon" type="image/png" href="/public/favicon.png" />
